body {
  background-color: #f7f7f7;
}

.form-container .login-card {
  width: 50%;
  margin: 15% auto !important;
  border: 1px solid #f7f7f7;
  background-color: white;
  padding: 20px !important;
}

.form-container .login-card .login-card-header {
  width: 100% !important;
  /* border: 1px solid lightgray; */
}

.oe_btn {
  width: 100% !important;
  border-bottom: 3px solid #db6540 !important;
  outline: none !important;
}

input {
  background-color: #f1f1f1 !important;
  border: none !important;
  width: 100% !important;
  height: 50px !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6 !important;
  opacity: 1; /* Firefox */
}

.app-form-grp {
  position: relative;
}

.app-form-grp input {
  padding-left: 50px;
}

.app-form-grp .custom-icon {
  position: absolute;
  top: 17px;
  left: 10px;
  color: #797979 !important;
}

.form-container .login-card .login-icon {
  font-size: 100px !important;
  color: #db6540;
  text-align: center;
}

.form-container .login-card a {
  font-size: 14px;
}
